<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DockPanelSuite" version="3.0.6" targetFramework="net46" />
  <package id="DockPanelSuite.ThemeVS2015" version="3.0.6" targetFramework="net46" />
  <package id="Sunburst.WindowsForms.Ribbon" version="2.1.0" targetFramework="net46" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net46" />
  <package id="Theraot.Core" version="2.2.0" targetFramework="net472" />
  <package id="Vanara.Core" version="2.1.0" targetFramework="net472" />
  <package id="Vanara.PInvoke.ComCtl32" version="2.1.0" targetFramework="net472" />
  <package id="Vanara.PInvoke.Gdi32" version="2.1.0" targetFramework="net472" />
  <package id="Vanara.PInvoke.Kernel32" version="2.1.0" targetFramework="net472" />
  <package id="Vanara.PInvoke.Ole" version="2.1.0" targetFramework="net472" />
  <package id="Vanara.PInvoke.Security" version="2.1.0" targetFramework="net472" />
  <package id="Vanara.PInvoke.Shared" version="2.1.0" targetFramework="net472" />
  <package id="Vanara.PInvoke.Shell32" version="2.1.0" targetFramework="net472" />
  <package id="Vanara.PInvoke.ShlwApi" version="2.1.0" targetFramework="net472" />
  <package id="Vanara.PInvoke.User32" version="2.1.0" targetFramework="net472" />
  <package id="Vanara.PInvoke.User32.Gdi" version="2.1.0" targetFramework="net472" />
  <package id="Vanara.Windows.Shell" version="2.1.0" targetFramework="net472" />
</packages>